.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  border-radius: 20px;
}
